:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

.page{
  background-color: var(--color-black);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* button_div */
.button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_button{
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

.button_img{
  width: 50px;
  height: 50px;
}

.text_button{
  height: 50px;
  width: 50px;
  margin-left: 15px;
  border: none;
}
.blue_btn{
  background-color: var(--color-blue);
}
.yellow_btn{
  background-color: var(--color-yellow);
}
.pink_btn{
  background-color: var(--color-pink);
}


